.first-card {
  margin: 5rem auto;

  &__img {
    margin-bottom: 3rem;
  }

  &__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  &__para {
    line-height: 1.6;
    font-size: 1.1rem;
    opacity: 0.7;
  }
}
