.float-card {
  margin-bottom: -5rem;
  padding: 4rem 2rem;
  position: relative;
  z-index: 2;
  background-color: $white;

  &__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .button {
    line-height: 1.6;
    font-size: 1.1rem;
    background-color: $pink;
    &:visited, &:link, &:active {
      color: $white;
    }
  }
}

@media (min-width: 450px) {
  .float-card {
    width: 50%;
    text-align: center;
  }
}
