.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding-top: 2rem;
}

.nav {
  &__button {
    padding: 0.3rem 1rem;
  }
}

.top-section {
  background: no-repeat url(../images/bg-hero-mobile.svg);
  background-position: center;
  background-color: $very-pale-cyan;
}

@media (min-width: 450px) {
  .top-section {
    background: no-repeat url(../images/bg-hero-desktop.svg);
    background-position: center;
    background-color: $very-pale-cyan;
  }
}

